fastapi==0.115.11
MarkupSafe
multidict
openai==1.65.5
openpyxl
platformdirs
pydantic
pydantic-settings
python-multipart
requests
starlette
uvicorn
virtualenv
Jinja2
Markdown
MarkupSafe
beautifulsoup4
python-dotenv
pytest
pytest-cov
pymupdf
python-multipart
