fastapi==0.115.6
MarkupSafe
multidict
openai==1.57.4
openpyxl
platformdirs
pydantic
pydantic-settings
python-multipart
requests
starlette
uvicorn
virtualenv
Jinja2
Markdown
MarkupSafe
beautifulsoup4
python-dotenv
pytest
pytest-cov
pymupdf
python-multipart
